anyio
argon2-cffi
async-generator
attrs
backcall
bleach
certifi==2020.12.5
cffi 
colorama
cycler==0.10.0
decorator
defusedxml
entrypoints==0.3
idna
importlib-metadata
imutils
ipykernel
ipython
ipython-genutils
ipywidgets
jedi==0.17.0
Jinja2
jsonschema 
jupyter-client 
jupyter-core 
jupyter-server
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe==1.1.1
matplotlib
mistune==0.8.4
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
olefile==0.46
python-opencv
packaging
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
scipy
six
sniffio
terminado==0.9.2
testpath
tornado
traitlets
voila 
wcwidth
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
zipp
